@attribute [Route(WebRoutes.Settings.Base)]
@layout ProfileLayout

@using Domain.Entities

@inject IIdentityService IdentityService
@inject NavigationManager NavigationManager

<RequireAuthorization />

@if (Loaded is false)
{
	<div class="sm-page-container">
		<Loading />
	</div>
	<LargeMargin />
	return;
}

<h2>Account</h2>

<div class="mt-3 row">
	<div class="col-md-6 d-flex flex-column">
		<span class="font-md">@User.Email</span>
		<span class="font-sm">Password: *******</span>
	</div>

	<div class="col-md-6 mt-3 mt-md-0">
		<span class="font-sm d-flex justify-content-start justify-content-md-end">
			<a href="@WebRoutes.ResetCodeSent?returnUrl=/settings">Change Password</a>
		</span>
	</div>
</div>

<div class="mt-3 mb-3 gradient-divider"></div>

<h2>Subscriptions and Payment</h2>

<div class="mt-3 row">
	<div class="col-md-6 d-flex flex-column">

		@if (User.Subscription is not null)
		{
			@if (User.Subscription.Name.Equals(Subscription.Trial.Name))
			{
				<span class="font-md font-gray">Activated: @User.SubscriptionExpiresIn?.AddDays(-Subscription.TRIAL_ACTIVE_DAYS)</span>
			}
			else
			{
				<span class="font-md font-gray">Activated: @User.SubscriptionExpiresIn?.AddDays(-Subscription.ACTIVE_DAYS)</span>
			}

			<button @onclick="() => ConfirmCancelSubscriptionWindow.Open()" class="button button-fit py-1 px-2 mt-2 font-sm font-white">Cancel Subscription</button>
		}
		else
		{
			<span class="font-md font-gray">You do not have active subscriptions yet</span>
		}

	</div>

	<div class="col-md-6 mt-3 mt-md-0">
	</div>
</div>

<div class="mt-4 mb-4 gradient-divider"></div>

<h2>Current Subscription</h2>

<div class="mt-3 row">
	<div class="col-md-6 d-flex flex-column">
		
		@if (User.Subscription is not null)
		{
			<span class="font-md font-gray">Active: @User.Subscription?.Name</span>
			<span class="font-md font-gray">Expires: @User.SubscriptionExpiresIn?.ToShortDateString()</span>

			@if(User.SubscriptionExpiresIn < DateTime.Now)
			{
				<span class="font-md text-danger">Your current subscription has expired</span>
				<span class="font-md font-gray">To activate the subscription, go to the subscription activation page</span>
			}
		}
		else
		{
			<span class="font-md font-gray">You do not have active subscriptions yet. To activate the subscription, go to the subscription activation page</span>
		}

	</div>

	<div class="col-md-6 mt-3 mt-md-0">
		<span class="font-sm d-flex justify-content-start justify-content-md-end">
			<a href="@WebRoutes.Manage.Subscription?returnUrl=@WebRoutes.Settings.Base">Manage Subscription</a>
		</span>
	</div>
</div>

<ConfirmModalWindow @ref="ConfirmCancelSubscriptionWindow"
					OnConfirm="OnCanelSubscriptionConfirm"
					Message="Are you sure want to cancel your current subscription plan?" />

@code {
	private User User { get; set; } = default!;

	private bool Loaded { get; set; } = false;

	private ConfirmModalWindow ConfirmCancelSubscriptionWindow { get; set; } = default!;

	protected override async Task OnInitializedAsync()
	{
		var userResult = await IdentityService.GetProfileAsync();

		if (userResult.IsFound)
		{
			User = userResult.AsFound;
		}

		Loaded = true;
		StateHasChanged();
	}

	private async Task OnCanelSubscriptionConfirm()
	{
		var cancelResult = await IdentityService.CancelSubscription();

		if (cancelResult.IsUpdated)
		{
			NavigationManager.NavigateToCurrentPage();
		}
	}
}