
<div>
    <nav class="navigation">
        <div class="nav-item">
            <NavLink class="nav-link" href="@WebRoutes.Home" Match="NavLinkMatch.All">
                <img class="nav-icon" src="/img/nav-home.svg" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@WebRoutes.My.Profile.MyProfile" Match="NavLinkMatch.Prefix">
                <img class="nav-icon" src="/img/nav-profile.svg" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@WebRoutes.My.Lists">
                <img class="nav-icon" src="/img/nav-favourite.svg" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@WebRoutes.My.Notifications">
                <img class="nav-icon" src="/img/nav-mail.svg" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@WebRoutes.My.History">
                <img class="nav-icon" src="/img/nav-recent.svg" />
            </NavLink>
        </div>
    </nav>
</div>
